
body {
  background-color: #fcfeff;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 32px;
  color: blueviolet;
}
